<%- include ("./templates/header", {titulo: 'no encontrado' }) %>

    <body>
        <%- include ("./templates/navbar") %>
            <div class="resultadoContenedor">
                <h1>lo sentimos</h1>
                <h3>el pokemon que has buscado no ha sido encontrado</h3>
                <a class="mt-1" href="/buscar">click aqui para volver a buscar</a>

            </div>

    </body>

    </html>