<%- include ("./templates/header", {titulo: 'inicio' }) %>

    <body>
        <%- include ("./templates/navbar") %>

            <div class="inicioContenedor">
                <h1 class="mt-3">Bienvenido a la pokeApi v2</h1>
                <h3 class="mt-3">creado por: juan diego gutierrez</h3>
                <p class="mt-3">nos alegra que utilices nuestros servicios</p>
                <p class="mt-3">aqui podras buscar hasta 898 pokemones, ya sea por su nombre o su numero en la pokedex </p>
                <p class="mt-3">para empezar a buscar ve a la opcion en buscar en la barra de navegacion</p>
                
                <div class="container">
                    <h2>¡¡que esperas!!</h2>
                    <div class="pokeball"></div>
                    <div class="pokeball"></div>
                    <div class="pokeball"></div>
                  </div>
            </div>

            

    </body>

    </html>