<nav class="navbar">
    <ul>
        <li><a href="/nosotros">nosotros</a></li>
        <li class="contenedorLogo">
            <a href="/"><img src="./resources/pokeball.png" class="logo" alt="logo"></a>
        </li>
        <li><a href="/buscar">buscar</a></li>
    </ul>
</nav>